<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <div class="main-container">
  <div class="panel">
    <h1 id="main_title" class="title">Toshiba VFD</h1>
    <div id="some_element"/>
    </div>
  <div class="btns">
      <button id="on">ON</button>
      <button id="fwd">FWD</button>
      <button id="bwd">BWD</button>
    </div>
  </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./static/js/main.js"></script>
    <script src="./static/js/interface.js"></script>
</body>
</html>